.root {
-fx-window-border: 0;
-fx-padding: 0 150 0 180;
-fx-background-color: white;
-fx-border-color: white;
-fx-font-family: sans-serif;
}

.header {
-fx-font-size: 30;
-fx-padding: 10 0 20 160;
-fx-font-weight: bold;
}

.board {
-fx-alignment: center;
}

.end-text {
-fx-font-size: 20;
-fx-padding: 100 0 0 30;
}

.upper-row {
-fx-padding: 20 0 0 110;
}

.middle-row {
-fx-padding: 0 0 0 115;
}

.lower-row {
-fx-padding: 0 0 0 140;
}